*{ 
color: White;
font-family: Arial;
}

body{ 
	background-color: #1C1C1C;
}
	
.mrgn {
	margin-left: 15%;
}
	
.nav {
  background-color: #111;
  overflow: hidden;
}
	.nav a {
		margin-left: 3%;
		float: left;
		color: #818181;
		text-align: center;
		padding: 14px 3%;
		text-decoration: none;
		font-size: 200%
}

		.nav a:hover {
			color: #f1f1f1;
			text-shadow: 0 0 6px #acacac;
	}